.hide {
    display: none;
}

.menu_container {
    display: flex;
    flex-direction: column;

    .link {
        padding-left: 20px;
    }
}

.menu_container_open {
    background: #eceaea;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-container {
    display: flex;

    .sidebar {
        background: #ffffff;
        height: 100vh;
        padding-bottom: 20px;
        overflow-x: hidden !important;
        overflow: hidden;

        p {
            margin-bottom: 5px !important;
        }

        .sidebar-header {
            background: rgb(69, 103, 177) !important;
            height: 40px !important;
            padding: 0 !important;

            div {
                width: 100% !important;
                display: flex !important;
                align-items: center !important;
                justify-content: center !important;
                height: 100% !important;

                p {
                    margin: 0 !important;
                    font-size: 16px !important;
                    font-weight: 600;
                    color: white !important;
                }
            }
        }

        .top_section {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin-top: 40px;
            padding: 15px 10px;

            .user-details {
                display: flex;
                flex-direction: column;
                width: 100%;
                align-items: center;
                justify-content: center;
            }
        }

        .routes {
            margin-top: 20px;
            display: flex;
            flex-direction: column;
            gap: 5px;
            padding: 1px;

            .menu-wrapper {
                border-radius: 5px;

                .menu {
                    display: flex;
                    padding: 10px;
                    cursor: pointer;
                    transition: 0.2s cubic-bezier(0.6, -0.28, 0.735, 0.045);
                    justify-content: space-between;
                    align-items: center;

                    .menu_item {
                        display: flex;
                        align-items: center;
                        gap: 10px;

                        .icon {
                            font-size: 14px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            padding: 0;
                            margin: 0;
                        }

                        .link_text {
                            white-space: nowrap;
                        }
                    }

                }
            }

            .sub-link {
                margin-left: 25px;
            }

            .link {
                display: flex;
                color: rgb(21, 21, 21);
                gap: 10px;
                padding: 10px;
                transition: 0.2s cubic-bezier(0.6, -0.28, 0.735, 0.045);



                &:hover {
                    background: #eceaea;
                    color: rgb(69, 103, 177);
                    transition: 0.2s cubic-bezier(0.6, -0.28, 0.735, 0.045);
                }

                .link_text {
                    white-space: nowrap;
                    margin-top: .2rem;
                }

                .icon {
                    font-size: 14px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding: 0;
                    margin: 0;
                }
            }


            .active {
                background: #eceaea;
                color: rgb(69, 103, 177);

            }
        }
    }

    .content {
        flex: 1;
        flex-direction: column;

        main {
            margin-top: 40px;
            height: 100%;
            padding: 20px 20px 10px 20px;

            @media only screen and (max-width: 600px) {
                padding: 20px 5px
            }

            .top-wrapper {
                margin-bottom: 1rem;

                .title {
                    font-size: 20px;
                    color: #6b6b6b;
                }

                .bread-cumb {
                    display: flex;
                    align-items: center;
                    background: #dedddd;
                    border-radius: 30px;
                    padding: 10px 15px;

                    .text {
                        margin-bottom: 0;
                        display: flex;
                        font-weight: 600;
                        color: #a6a6a6;
                        align-items: center;

                        .others {
                            color: #6b6b6b;

                            .text-other {
                                color: #6b6b6b;
                                font-weight: 600;
                                margin-bottom: 0;
                            }

                            .icon {
                                font-weight: 600;
                                font-size: 16px;
                                margin: 0 5px;
                            }
                        }

                    }
                }
            }

        }
    }
}

.center-icon {
    display: flex;
    align-items: center;
    justify-content: center;
}