@import '~antd/dist/antd.css';
@import './font.css';

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 12px;
  background: #eceaea;
  color: rgb(21, 21, 21);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden !important
}

.ml-1 {
  margin-left: 1rem;
}